<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreEnrollmentSystem.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PreEnrollmentSystem.Properties.Settings.StudentConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Enrollment.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PreEnrollmentSystem.Properties.Settings.EnrollmentConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\bin\Debug\Enrollment.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PreEnrollmentSystem.Settings1>
            <setting name="latest_studentNum" serializeAs="String">
                <value>0000</value>
            </setting>
        </PreEnrollmentSystem.Settings1>
    </applicationSettings>
</configuration>